---
---


body {
    background-color: url(../../images/IMG_20210406_152803746.jpg);
    padding:5px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#727272;
    font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 2px;
  }
  
  p, ul, ol, table, pre, dl {
    margin:0 0 2px;
  }

@import "{{ site.theme }}";