---
---
@import "{{ site.theme }}";


body {
    background-color: url(../../images/IMG_20210406_152803746.jpg);
    padding:5px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#727272;
    font-weight:400;
}


header {
    width:190px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
    padding-bottom: 1px;
}

section {
    width:600px;
    float:right;
    padding-bottom:50px;
}

th, td {
    text-align:left;
    padding:3px 3px;
    border-bottom:1px solid #e5e5e5;
}

