---
---
body {
    background-color: #696969;
    padding:5px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#727272;
    font-weight:400;
}

@import "{{ site.theme }}";



header {
    width:190px;
    float:left;
    position: fixed;
    padding-bottom: 10px;
}

section {
    width:400px;
    float:right;
    padding-bottom:50px;
}

th, td {
    text-align:left;
    padding: 2px;
    border-bottom:1px solid #e5e5e5;
}

ul {
    margin:0 0 0;

}

